{% extends 'base.html' %}

{% block navheader %}
  <p class="text-sm font-light text-gray-500 mt-1">Aktuellen Zwangsversteigerungen</p>
{% endblock %}

{% block content %}
  <table class="divide-y my-8 w-full ">
    <thead>
      <tr class="text-left">
        <th class="text-sm font-medium py-4 pr-4">Aktenzeichen</th>
        <th class="text-sm font-medium p-4">Objekt</th>
        <th class="text-sm font-medium p-4">Lage</th>
        <th class="text-sm font-medium p-4">Verkehrswert</th>
        <th class="text-sm font-medium p-4">Termin</th>
        <th class="text-sm font-medium py-4 pl-4"></th>
      </tr>
    </thead>
    <tbody class="divide-y">
      {% for auction in auctions %}
        <tr class="hover:bg-gray-50">
          <td class="text-sm font-medium py-4 pr-4" id="auctionNumber">{{auction.number}}</td>
          <td class="text-sm text-gray-700 leading-6 p-4">{{auction.object|truncatechars:50}}</td>
          <td class="text-sm text-gray-700 leading-6 p-4">{{auction.address|truncatechars:50}}</td>
          <td class="text-sm text-gray-700 leading-6 p-4">{{auction.price}}</td>
          <td class="text-sm text-gray-700 leading-6 p-4">{{auction.appointment}}</td>
          <td class="text-sm text-gray-700 leading-6 py-4 pl-4 text-sky-500">
            <a href="{% url 'auction.detail' pk=auction.id %}">Details</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
