{% extends 'base.html' %}

{% block navheader %}
  <p class="text-sm font-light text-gray-500 mt-1">Details zur Zwangsversteigerung</p>
{% endblock %}

{% block content %}
    <dl class="divide-y my-8">
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Number</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2" id="auctionNumber">{{auction.number}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Objekt</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.object}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Beschreibung</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.description}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Adresse</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.address}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Verkehrswert</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.price}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Termin</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.appointment}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Gutachten</dt>
        <dd class="text-sm text-sky-500 leading-6 col-span-2">
          <a target='_blank' href={{auction.report_url}}>Gutachten.pdf</a>
        </dd>
      </div>
    </dl>
{% endblock %}
