{% extends 'base.html' %}

{% block content %}
    <div>
      <h1 class="text-base font-semibold"><span class="fa-solid fa-house text-sky-500 inline-block align-text-top"></span> Immobyte</h1>
      <p class="text-sm font-light text-gray-500 mt-1">Details zur Zwangsversteigerung</p>
    </div>
    <dl class="divide-y my-8">
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Number</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.number}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Objekt</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.object}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Beschreibung</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.description}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Adresse</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.address}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Termin</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2">{{auction.appointment}}</dd>
      </div>
      <div class="grid grid-cols-3 gap-4 py-4">
        <dt class="text-sm font-medium">Gutachten</dt>
        <dd class="text-sm text-gray-700 leading-6 col-span-2 font-medium"><a target='_blank' href={{auction.report_url}}>Gutachten.pdf</a></dd>
      </div>
    </dl>
{% endblock %}
